
@{
    ViewBag.Title = "education";
}

<h2>education</h2>
<ol type="1">
    <li>BSc. CSE : American International Unoversity-Bangladesh </li>
    <li>HSC : Government Laboratory High School Dhaka </li>
    <li>SSC : Government Laboratory High School Dhaka </li>
</ol>